
  <nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <!--<img src="logo.png" alt="">-->
            </span>

            <div class="text logo-text">
                <span class="name">Codinglab</span>
                <span class="profession">Web developer</span>
            </div>
        </div>

        <span nz-icon nzType="right" nzTheme="outline"></span>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">
              <span nz-icon nzType="search" nzTheme="outline"></span>
                <input type="text" placeholder="Search...">
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                      <span nz-icon nzType="home" nzTheme="outline"></span>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                      <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
                      <span class="text nav-text">Revenue</span>
                    </a>
                  </li>

                  <li class="nav-link">
                    <a href="#">
                      <span nz-icon nzType="bell" nzTheme="outline"></span>
                      <span class="text nav-text">Notifications</span>
                    </a>
                  </li>

                  <li class="nav-link">
                    <a href="#">
                      <span nz-icon nzType="line-chart" nzTheme="outline"></span>
                        <span class="text nav-text">Analytics</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                      <span nz-icon nzType="heart" nzTheme="outline"></span>
                        <span class="text nav-text">Likes</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                      <span nz-icon nzType="wallet" nzTheme="outline"></span>
                        <span class="text nav-text">Wallets</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="#">
                  <span nz-icon nzType="logout" nzTheme="outline"></span>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <!-- <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li> -->

        </div>
    </div>

  </nav>

